<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Node App</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container bg-secondary p-3 rounded">
    <h1 class="text-white">Welcome to My First Node.js App</h1>
    <p  class="text-white">This is a simple user interface created with Node js, Express ed EJS.</p>
    <form action="/" method="POST">
      <div class="form-group">
        <label class="text-white" for="inputText">Type something:</label>
        <input type="text" class="form-control" id="inputText" name="inputText" placeholder="Write here...">
      </div>
      <button type="submit" class="btn btn-primary">Send</button>
    </form>
    <% if (typeof userInput !== 'undefined') { %>
        <div class="alert alert-success" role="alert">
          Hai inserito: <%= userInput %>
        </div>
      <% } %>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/js/scripts.js"></script>
</body>
</html>